
.answer-option-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}
.answer-option {
    // padding: 3%;
    // border: 1px solid black;
    text-align: center;
    .answer-button {
        width: 100%;
        height: 100%;
        padding: 1.5%;
        p {
            margin: 0;
            font-size: 1.6rem;
        }
    } 
    input {
        position: absolute;
        opacity: 0;
        &:focus ~ label .answer-button{
            background-color: $primary-accent-color;
        }
        &:hover ~ label .answer-button{
            background-color: $primary-accent-color;
        }
        &:checked ~ label .answer-button{
            background-color: $primary-accent-color;
        }
    }
}
