

.button-container {
    display: flex;
    align-items: center;
    padding-top: 20px;
    font-size: 1.6rem;
    font-weight: bold;
}

.game-section-button{
    text-align: center;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    margin: 0 auto;
    background-color: $primary-accent-color;
}