

.quiz {
    width: 750px;
    max-width: 80%;
    border: black 1px solid;
    border-radius: 60px;
    margin: auto;
    display: flex;
    height: 500px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: 100%;
}