

.question-container{
    display: flex;
    padding: 20px 30px;
    text-align: center;
    justify-content: center;
}

@media(max-width: 650px) {
    .question-container {
        padding: 0 0 20px 0;
        h3 {
            margin-bottom: 0;
        }
    }
}